.header {
    height: 110px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background: var(--bg-color-header);
}

.logo {
    height: 45px;
    width: 45px;
    margin-left: 15px;
}

.logo img {
    height: 100%;
    width: 100%;
}

.header-title {
    font-size: 2.5em;
    font-weight: 900;
    text-align: center;
    color: var(--title-color);
}

.menu {
    height: 45px;
    width: 45px;
    border-radius: 6px;
    margin-right: 15px;
}

.menu img {
    height: 100%;
    width: 100%;
    fill: white;
}