@import url("./colors.css");

@font-face {
    font-family: "RobotoMono";
    src: url("../fonts/RobotoMono-Thin.ttf");
}

* {
    font-family: "RobotoMono";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
    
    text-align: center;
    color: var(--txt-color-display);
}