@import url("./colors.css");

@font-face {
    font-family: "RobotoMono";
    src: url("../fonts/RobotoMono-Thin.ttf");
}

* {
    font-family: "RobotoMono", Monospace;
    margin: 0;
    padding: 0;
}


.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: var(--bg-color);
    
    
    text-align: center;
    color: var(--txt-color-display);
}